.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  mat-card {
    width: 400px;
    padding: 20px;

    mat-card-title {
      text-align: center;
      font-size: 24px;
      margin-bottom: 10px;
    }

    .error-message {
      color: red;
      margin-bottom: 10px;
      text-align: center;
    }

    button {
      width: 100%;
      margin-top: 10px;
    }
  }
}
